<!-- Navegator -->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a  class="navbar-brand col-12 col-sm-10" routerLink="/index" 
      routerLinkActive="active" (isActiveChange)="displayLink=true">
      <img [src]="logoImg" alt="Logo" width="36" height="29" class="d-inline-block align-text-top">
      {{logoTitle}}
    </a>
    <!-- button -->
    <button class="navbar-toggler col-12 col-sm-1" type="button" 
      data-bs-toggle="offcanvas" data-bs-target="#menu" 
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menu -->
    <div class="offcanvas offcanvas-end text-bg-dark bg-dark" tabindex="-1" id="menu">
      <div class="offcanvas-header">
        <!-- Button close Menu -->
        <button type="button" class="btn-close btn-close-white text-reset" 
          data-bs-dismiss="offcanvas" 
          aria-label="Close">
        </button>
      </div>
      <!-- Menu List -->
      <div class="offcanvas-body">
        <!-- List -->
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-auto" *ngIf="!displayLink">
            <a class="nav-link" routerLink="/index">Home</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#cards-presentation">{{titlePresentation}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#works">{{titleWork}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#courses">{{titleCourses}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#skills">{{titleSkills}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#projects">{{titleProjects}}</a>
          </li>
          <li class="nav-item mx-auto" (click)="displayLink=false">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>