<!-- Navegator -->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid d-flex">
    <div class="navbar-brand aling-self-start">
      <!-- Logo -->
      <a  class="navbar-brand" routerLink="/index" 
        routerLinkActive="active" (isActiveChange)="displayLink=true">
        <img [src]="logoImg" alt="Logo" width="36" height="29" class="d-inline-block align-text-top">
        {{logoTitle}}
      </a>
      <!-- Button Editor Navbar -->
      <button *ngIf="true" type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#editHeader">
        <i class="bi bi-gear-wide-connected"></i>
      </button>
    </div>
    
      
    <!-- button -->
    <button class="navbar-toggler col-12 col-md-1 align-self-end my-auto" type="button" 
      data-bs-toggle="offcanvas" data-bs-target="#menu" 
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Menu -->
    <div class="offcanvas offcanvas-end text-bg-dark bg-dark" tabindex="-1" id="menu">
      <div class="offcanvas-header">
        <!-- Button close Menu -->
        <button type="button" class="btn-close btn-close-white text-reset" 
          data-bs-dismiss="offcanvas" 
          aria-label="Close">
        </button>
      </div>
      
      <!-- Menu List -->
      <div class="offcanvas-body">
        <!-- List -->
        <ul class="navbar-nav flex-grow-1 pe-3">
          <li class="nav-item mx-auto" *ngIf="!displayLink">
            <a class="nav-link" routerLink="/index">Home</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#cards-presentation">{{titlePresentation}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#works">{{titleWork}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#courses">{{titleCourses}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#skills">{{titleSkills}}</a>
          </li>
          <li class="nav-item mx-auto" *ngIf="displayLink">
            <a class="nav-link" href="index#projects">{{titleProjects}}</a>
          </li>
          <li *ngIf="!authService.logIn" class="nav-item mx-auto" (click)="displayLink=false">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li *ngIf="authService.logIn" class="nav-item mx-auto" (click)="displayLink=false">
            <a class="nav-link" routerLink="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Modal Editor Header -->
<div class="modal fade" id="editHeader" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Header Editor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-self-auto">
        <form [formGroup]="formModule">
          <div class="col-auto">
            <label for="titleHeader" class="form-label">Text Header</label>
            <input id="titleHeader" type="text" class="form-control" formControlName="text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editLogo" data-bs-dismiss="modal">Change Logo</button>
        <button [disabled]="formModule.invalid" type="button" class="btn btn-dark" (click)="updateLogoTitle()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change logo -->
<div class="modal fade" id="editLogo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Change Header logo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-self-auto">
        <form [formGroup]="formLogo" class="form-group">
          <div class="col-auto">
            <label for="currentId" class="form-label">Select Logo</label>
            <select id="currentId" class="form-select" formControlName="currentId" name="currentId">
              <option [value]="i" *ngFor="let logo of logosArray; let i = index">
                {{logo.name}}
              </option>
            </select>
            <button type="button" class="btn btn-dark mt-2 ms-2" data-bs-toggle="collapse" data-bs-target="#addForm">Add Logo</button>
            <button type="button" class="btn btn-dark mt-2 ms-2" (click)="deleteLogo()">Delete Selection</button>
            <button type="button" class="btn btn-dark mt-2 ms-2" data-bs-toggle="collapse" data-bs-target="#editForm" (click)="setEditLogo()">Edit Selection</button>
          </div>
          <div id="addForm" class="collapse">
            <form formGroupName="addLogo">
              <div class="col-auto">
                <label for="name">Name New Logo</label>
                <input type="text" class="form-control" id="name" formControlName="name" />
              </div>
              <div class="col-auto">
                <label for="url">URL New logo</label>
                <input type="text" class="form-control" id="url" formControlName="url" />
              </div>
              <button type="button" class="btn btn-dark mt-2 ms-2" data-bs-toggle="collapse" data-bs-target="#addForm" (click)="addLogo()">Save New Logo</button>
            </form>
          </div>
          <div id="editForm" class="collapse">
            <form id="editLogo" formGroupName="editLogo">
              <div class="col-auto">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" />
              </div>
              <div class="col-auto">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url" formControlName="url" />
              </div>
              <button type="button" class="btn btn-dark mt-2 ms-2" data-bs-toggle="collapse" data-bs-target="#editForm" (click)="editLogo()">Save Logo</button>
            </form>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editHeader" data-bs-dismiss="modal">Edit Text</button>
        <button [disabled]="formLogo.invalid" type="button" class="btn btn-dark" (click)="updateLogo()">Save Selection</button>
      </div>
    </div>
  </div>
</div>

