<article class="vw-100 vh-100">
  <br>
  <br>
  <br>
  <h2 class="text-center">Courses and Certificates</h2>
  <!-- Container -->
  <div class="d-flex justify-content-evenly row">
    <!-- Full-Stack Argentina Programa -->
    <div class="card text-white bg-dark m-2 col-ms-12 border-3">
      <img src="..." class="card-img-top img-fluid mt-2" alt="Full-Stack Course">
        
      <div class="card-body">
        <h5 class="card-title">Full Stack Developer Jr.</h5>
        <p class="card-text">Web application developer with HTML, CSS, TypeScripts, Angular, MySQL and Spring Boot.</p>
        <a href="#" class="btn btn-secondary">15/01/2023</a>
      </div>
    </div>
    <!-- Coming Soon -->
    <div class="card text-white bg-dark m-2 col-ms-12 border-3">
      <img src="../../../assets/NoneProyect.png" class="card-img-top img-fluid mt-2" alt="NoneProyect">
          
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
        <p class="card-text">Specialization Courses</p>
        <a href="#courses" class="btn btn-secondary">2023</a>
      </div>
    </div>
  </div>
</article>