<section>
    <br>
    <br>
    <br>
    <h2 class="text-center">
        {{title}}
        <!-- Button Editor Section 5 -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editSec5">
            <i class="bi bi-gear-wide-connected"></i>
        </button>
    </h2>
        
    <!-- Modal Editor Section 5 -->
    <div class="modal fade" id="editSec5" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Section 5 Editor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Save</button>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Projects -->
    <div id="carouselProjects" class="carousel carousel-dark slide m-3" data-bs-ride="carousel">
        <!-- Button Indicators -->
        <div class="carousel-indicators">
            <button *ngFor="let item of items, let i = index"
                type="button" data-bs-target="#carouselProjects" [attr.data-bs-slide-to]="i" [ngClass]="{'active': i == 0}" 
                aria-current="true" [attr.aria-label]="i+1">
            </button>
        </div>

        <div class="carousel-inner">
            <!-- Project -->
            <app-project
                class="carousel-item" [ngClass]="{'active': i == 0}" data-bs-interval="4000" 
                *ngFor="let item of items, let i = index" [iProjects]="i">
            </app-project>
        </div>

        <!-- Side Button -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
</section>