.title {
    color: #ffffff;
    background-color: #1e1d1d;
    font-weight: 700;
    font-size: 30px;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    border: none;
}

.title:active {
    color: #ffffff;
    background-color: #252525;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}

.title.pointer {
    cursor: pointer;
}

i {
    font-size: 65px;
    color: #ffffff;
}

img {
    width: 65px;
    height: 65px;
}

.aling {
    min-height: 97.5px;
}