<!-- Card -->
<div class="row g-0">
    <div id="carousel{{interaction}}" class="carousel carousel-dark slide col-md-4 my-auto mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" [ngClass]="{'active': i == 0}" data-bs-interval="3000" *ngFor="let img of imgs; let i = index">
                <img [src]="img.url" class="img-fluid rounded d-block my-auto mx-auto" [alt]="img.name">
            </div>
        </div>
        <!-- Side Button -->
        <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{interaction}}" data-bs-slide="prev" *ngIf="buttons">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{interaction}}" data-bs-slide="next" *ngIf="buttons">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text" *ngFor="let text of texts">{{text.text}}</p>
            <p class="card-text"><small class="text-muted">{{text2}}</small></p>
       </div>
    </div>
</div>

