<article>
  <!--Space Header-->
  <br>
  <br>
  <br>
  <!--Title Section-->
  <h2 class="text-center">{{titleSection}}
    <!-- Button Editor Section 1 -->
    <button *ngIf="authService.logIn" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editSec1">
      <i class="bi bi-gear-wide-connected"></i>
    </button>
  </h2>
  
  <!-- Modal Editor Section 1 -->
  <div class="modal fade" id="editSec1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Section 1 Editor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!--Cards Section-->
  <div class="d-flex justify-content-evenly row">
    <app-card-section1 
      *ngFor="let card of cards; let i = index" [interaction]="i"
      class="card text-white bg-dark m-2 col-ms-12 border border-dark border-3"
    ></app-card-section1>
  </div>
</article>