<article class="py-5">
    <br>
    <br>
    <br>
    <div class="row d-flex">
        <form class=" col-8 col-sm-7 col-md-5 col-lg-4 my-auto mx-auto" [formGroup]="singPorfolio" 
            (ngSubmit)="onSend(singPorfolio.value)"
        >
            <!-- Username -->
            <label class="form-labelfs-5 text-center">Welcome Developer.</label>
            <div class="mb-3 form-floating">
                <input type="email" class="form-control" id="email" placeholder=" " 
                    formControlName="email" [class.is-valid]="singPorfolio.get('email')?.valid"
                >
                <label for="email" class="form-label fs-5">Email</label>
            </div>
            <!-- Alert Username email -->
            <div class="alert alert-danger" *ngIf="singPorfolio.get('email')?.errors && singPorfolio.get('email')?.touched">
                It is necessary to enter a email.
            </div>

            <!-- Password -->
            <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder=" " 
                    formControlName="password" [class.is-valid]="singPorfolio.get('password')?.valid" 
                >
                <label for="inputPassword" class="form-label fs-5">Password</label>
                <div id="passwordHelp" class="form-text">To enter the porfolio editor it is necessary to enter with a validated username and password.</div>
            </div>
            <!-- Alert Password minlength -->
            <div class="alert alert-danger" *ngIf="singPorfolio.get('password')?.errors?.['minlength'] && singPorfolio.get('password')?.touched">
                The Password must be at least {{singPorfolio.get('password')?.errors?.['minlength'].requiredLength}} characters.
            </div>
            <!-- Alert Password touched -->
            <div class="alert alert-danger" *ngIf="singPorfolio.get('password')?.touched && !singPorfolio.get('password')?.valid">
                It is necessary to enter a password.
            </div>


            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input form-control" id="rememberMail" formControlName="rememberMail">
                <label class="form-check-label" for="exampleCheck1">Remember Email</label>
            </div>

            <!-- Button Submit -->
            <button type="submit" class="btn btn-success">Loging</button>
        </form>
    </div>
</article>