<div class="container-fluid bg-dark">			
  <div class="row text-white">
    <!-- Logo -->
    <div class="col-xs-12 col-md-8 col-lg-3 mt-2">
      <p class="h5"><img [src]="logoImg" alt="Logo" width="36" height="29" class="d-inline-block align-text-top">Full Stack Developer Jr.</p>
      <p>{{text}}</p>
    </div>

    <!-- Icons -->
    <div class="text-center col-xs-12 col-md-6 col-lg-3 p-4" *ngFor="let item of icons">
      <i class="{{item.icon}}" [attr.aria-label]="item.iconTitle" (click)="openUrl"></i>
    </div>
  </div>			
</div>